@font-face {
  font-family: '20 Kopeek';
  src: url("../fonts/20Kopeek.woff2") format("woff2"), url("../fonts/20Kopeek.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: '20 Kopeek Book';
  src: url("../fonts/20Kopeek-Book.woff2") format("woff2"), url("../fonts/20Kopeek-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
.image {
  height: 100vh;
  background-size: cover; }

.image.item-1 {
  background-image: url("../images/image_1.jpg"); }

.image.item-2 {
  background-image: url("../images/image_2.jpg"); }

.image.item-3 {
  background-image: url("../images/image_3.jpg"); }

.image.item-4 {
  background-image: url("../images/image_4.jpg"); }

.image.item-5 {
  background-image: url("../images/image_2.jpg"); }

.image.item-6 {
  background-image: url("../images/image_3.jpg"); }

@media screen and (max-width: 992px) {
  .owl-carousel {
    display: none !important; } }

header {
  z-index: 3; }
  header nav p {
    font-family: '20 Kopeek', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF; }
    @media screen and (max-width: 575px) {
      header nav p {
        font-size: 12px;
        line-height: 13px; } }
  header nav ul li a {
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF !important; }
  header nav ul li:first-of-type {
    border: 1px solid #FFFFFF;
    border-radius: 43px;
    margin-right: 13px;
    padding: 14px 15px 0 12px; }
    @media screen and (max-width: 991px) {
      header nav ul li:first-of-type {
        border-radius: 25px; } }
  header nav ul li:nth-child(2) {
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    margin-left: 12px;
    margin-right: 13px;
    padding: 8px 20px;
    height: 62px;
    width: 62px; }
    @media screen and (max-width: 991px) {
      header nav ul li:nth-child(2) {
        width: 50px;
        height: 50px;
        padding: 3px 20px;
        margin: 0; } }
  header nav ul li:last-of-type {
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    margin-left: 12px;
    padding: 9px 14px;
    height: 62px;
    width: 62px; }
    @media screen and (max-width: 991px) {
      header nav ul li:last-of-type {
        margin: 0;
        padding: 3px 15px;
        width: 50px;
        height: 50px; } }

@media screen and (max-width: 992px) {
  .banner {
    background-image: url("../images/image_5.jpg");
    background-size: cover;
    height: 100vh;
    position: relative; } }
.banner h1 {
  font-family: '20 Kopeek Book', sans-serif;
  font-size: 55px;
  line-height: 100%;
  color: #181818;
  margin-bottom: 30px; }
  @media screen and (max-width: 992px) {
    .banner h1 {
      font-family: '20 Kopeek Book';
      font-size: 45px;
      line-height: 100%;
      color: #FFFFFF; } }
  @media screen and (max-width: 768px) {
    .banner h1 {
      font-family: '20 Kopeek';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 110%;
      color: #FFFFFF; } }
.banner h3 {
  font-family: '20 Kopeek Book', sans-serif;
  font-size: 34px;
  line-height: 110%;
  color: #181818;
  margin-bottom: 65px; }
  @media screen and (max-width: 992px) {
    .banner h3 {
      font-family: '20 Kopeek';
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 110%;
      color: #FFFFFF; } }
  @media screen and (max-width: 768px) {
    .banner h3 {
      font-family: '20 Kopeek';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 110%;
      color: #FFFFFF;
      margin-bottom: 25px; } }
.banner a {
  font-family: '20 Kopeek', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
  background: #FFFFFF;
  border-radius: 40px;
  padding: 23px 47px; }
  .banner a:first-of-type {
    margin-right: 10px; }
    @media screen and (max-width: 992px) {
      .banner a:first-of-type {
        display: block;
        width: 325px;
        margin-right: 0;
        margin-bottom: 42px; } }
    @media screen and (max-width: 768px) {
      .banner a:first-of-type {
        display: inline-block;
        width: auto;
        margin-right: 17px;
        margin-bottom: 0 !important; } }
    @media screen and (max-width: 576px) {
      .banner a:first-of-type {
        margin-right: 0;
        margin-bottom: 0;
        order: 2; } }
  .banner a:last-of-type {
    margin-left: 10px; }
    @media screen and (max-width: 992px) {
      .banner a:last-of-type {
        display: block;
        width: 325px;
        margin-left: 0; } }
    @media screen and (max-width: 768px) {
      .banner a:last-of-type {
        display: inline-block;
        width: auto;
        margin-left: 18px; } }
    @media screen and (max-width: 576px) {
      .banner a:last-of-type {
        margin-left: 0;
        order: 1;
        margin-bottom: 20px; } }

.description {
  position: absolute;
  height: 100vh;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .description .d-flex.but {
    flex-wrap: wrap; }

.firm-style h3 {
  font-family: '20 Kopeek Book';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 110%;
  color: #181818; }
  @media screen and (max-width: 992px) {
    .firm-style h3 {
      font-size: 34px; } }
  @media screen and (max-width: 576px) {
    .firm-style h3 {
      font-size: 32px; } }

.list-number {
  margin-bottom: 120px; }
  .list-number h2 {
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    color: #181818;
    margin-bottom: 40px; }

.firm-style {
  margin-bottom: 150px; }
  @media screen and (max-width: 992px) {
    .firm-style {
      margin-bottom: 0; } }

.style {
  margin-top: 52px; }
  .style p {
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818; }
    @media screen and (max-width: 992px) {
      .style p {
        font-size: 16px; } }
    @media screen and (max-width: 576px) {
      .style p {
        font-size: 15px; } }

.number {
  font-family: '20 Kopeek Book';
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 100%;
  color: #181818; }

.text {
  font-family: '20 Kopeek';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
  margin-top: 29px; }

.text1 {
  font-family: '20 Kopeek';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #181818; }

.text2 {
  font-family: '20 Kopeek';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
  margin-top: 37px;
  margin-bottom: 20px; }
  @media screen and (min-width: 992px) {
    .text2 {
      line-height: 120%; } }

.text3 {
  font-family: '20 Kopeek';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
  margin-bottom: 20px; }
  @media screen and (min-width: 992px) {
    .text3 {
      line-height: 120%; } }

.text4 {
  background: #2B59C3;
  border-radius: 5px;
  font-family: '20 Kopeek';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: white; }
  @media screen and (min-width: 992px) {
    .text4 {
      line-height: 120%; } }

.style-price {
  margin-bottom: 133px; }
  @media screen and (max-width: 575px) {
    .style-price {
      order: 2; } }

@media screen and (max-width: 575px) {
  .style-image {
    order: 1; } }

.amperia {
  margin-bottom: 100px; }
  .amperia img {
    margin-bottom: 45px; }
  .amperia h3 {
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    color: #181818;
    margin-bottom: 3px; }
    @media screen and (max-width: 992px) {
      .amperia h3 {
        font-size: 45px; } }
    @media screen and (max-width: 767px) {
      .amperia h3 {
        font-size: 35px; } }
  .amperia a {
    border: 1px solid #181818;
    border-radius: 40px;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
    padding: 23px 47px; }
    @media screen and (max-width: 1199px) {
      .amperia a {
        padding: 17px 47px; } }
    @media screen and (max-width: 575px) {
      .amperia a {
        padding: 12px 47px; } }
  .amperia p {
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818; }
    @media screen and (max-width: 992px) {
      .amperia p {
        font-size: 16px; } }
    @media screen and (max-width: 576px) {
      .amperia p {
        font-size: 15px; } }

.AQ {
  margin-bottom: 100px; }
  .AQ img {
    margin-bottom: 45px; }
  .AQ h3 {
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    color: #181818;
    margin-bottom: 3px; }
    @media screen and (max-width: 992px) {
      .AQ h3 {
        font-size: 45px; } }
    @media screen and (max-width: 767px) {
      .AQ h3 {
        font-size: 35px; } }
  .AQ a {
    border: 1px solid #181818;
    border-radius: 40px;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
    padding: 23px 47px; }
    @media screen and (max-width: 1199px) {
      .AQ a {
        padding: 17px 47px; } }
    @media screen and (max-width: 575px) {
      .AQ a {
        padding: 12px 47px; } }
  .AQ p {
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818; }
    @media screen and (max-width: 992px) {
      .AQ p {
        font-size: 16px; } }
    @media screen and (max-width: 576px) {
      .AQ p {
        font-size: 15px; } }

.vilata {
  margin-bottom: 100px; }
  .vilata img {
    margin-bottom: 45px; }
  .vilata h3 {
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    color: #181818;
    margin-bottom: 3px; }
    @media screen and (max-width: 992px) {
      .vilata h3 {
        font-size: 45px; } }
    @media screen and (max-width: 767px) {
      .vilata h3 {
        font-size: 35px; } }
  .vilata a {
    border: 1px solid #181818;
    border-radius: 40px;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
    padding: 23px 47px; }
    @media screen and (max-width: 1199px) {
      .vilata a {
        padding: 17px 47px; } }
    @media screen and (max-width: 575px) {
      .vilata a {
        padding: 12px 47px; } }
  .vilata p {
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818; }
    @media screen and (max-width: 992px) {
      .vilata p {
        font-size: 16px; } }
    @media screen and (max-width: 576px) {
      .vilata p {
        font-size: 15px; } }

.coral {
  margin-bottom: 100px; }
  .coral img {
    margin-bottom: 45px; }
  .coral h3 {
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    color: #181818;
    margin-bottom: 3px; }
    @media screen and (max-width: 992px) {
      .coral h3 {
        font-size: 45px; } }
    @media screen and (max-width: 767px) {
      .coral h3 {
        font-size: 35px; } }
  .coral a {
    border: 1px solid #181818;
    border-radius: 40px;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
    padding: 23px 47px; }
    .coral a:first-of-type {
      margin-bottom: 100px; }
    @media screen and (max-width: 1199px) {
      .coral a {
        padding: 17px 47px; } }
    @media screen and (max-width: 575px) {
      .coral a {
        padding: 12px 47px; } }
  .coral p {
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
    margin-bottom: 53px; }
    @media screen and (max-width: 992px) {
      .coral p {
        font-size: 16px; } }
    @media screen and (max-width: 575px) {
      .coral p {
        font-size: 15px;
        margin-bottom: 20px; } }

.coral .button1 {
  background: #2B59C3;
  border-radius: 40px;
  padding: 23px 47px;
  font-family: '20 Kopeek Book';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 110%;
  color: #FFFFFF;
  margin-bottom: 100px; }
  @media screen and (max-width: 1199px) {
    .coral .button1 {
      font-family: '20 Kopeek Book';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 110%;
      color: #FFFFFF;
      padding: 19px 44px; } }

.gaide-line {
  margin-bottom: 77px; }
  .gaide-line h3 {
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 110%;
    color: #181818; }
  .gaide-line h4 {
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 110%;
    color: #FFFFFF;
    background: #2B59C3;
    border-radius: 5px; }
  .gaide-line p:first-of-type {
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    background: #2B59C3;
    border-radius: 5px;
    margin-top: 57px;
    margin-bottom: 30px; }
  .gaide-line p:last-of-type {
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818; }

.gaide {
  font-family: '20 Kopeek Book';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 110%;
  color: #FFFFFF;
  margin-bottom: 30px;
  display: block; }

.freelans .row .col-lg-2 {
  background-color: #2B59C3; }
.freelans .row .col-lg-3:nth-child(2) {
  padding-left: 30px;
  position: relative; }
  .freelans .row .col-lg-3:nth-child(2):after {
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    background-color: white;
    position: absolute;
    bottom: -2px;
    left: 0; }
.freelans .row .col-lg-3:nth-child(3) {
  border: 4px solid #2B59C3;
  border-top: none;
  border-bottom: 0.5px solid #868686; }
.freelans .row:first-of-type .col-lg-3, .freelans .row:first-of-type .col-lg-4 {
  border-bottom: none; }
.freelans .row:first-of-type .col-lg-2 {
  border-radius: 10px 10px 0 0; }
.freelans .row:first-of-type .col-lg-3:nth-child(3) {
  border-radius: 10px 10px 0 0;
  border-top: 4px solid #2B59C3; }
.freelans .row:last-of-type .col-lg-3, .freelans .row:last-of-type .col-lg-4 {
  border-bottom: none; }
.freelans .row:last-of-type .col-lg-2 {
  border-radius: 0 0 10px 10px; }
.freelans .row:last-of-type .col-lg-3:nth-child(3) {
  border-radius: 0 0 10px 10px;
  border-bottom: 4px solid #2B59C3; }
.freelans .row .col-lg-3, .freelans .row .col-lg-4 {
  border-bottom: 0.5px solid #868686; }
.freelans h4 {
  font-family: '20 Kopeek Book';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 110%;
  color: #868686; }
.freelans p {
  margin-bottom: 30px;
  padding-top: 26px; }
.freelans h5 {
  padding-top: 26px;
  font-family: '20 Kopeek Book';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 110%;
  color: #FFFFFF; }
.freelans .free-color {
  color: #2B59C3; }

.form {
  margin-bottom: 150px; }
  .form h4 {
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 110%;
    color: #181818; }
  .form h5 {
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 110%;
    color: #181818;
    margin-bottom: 27px; }
  .form span {
    color: #005cbf; }
  .form .form-check-label {
    margin-left: 20px; }
  .form button {
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    border-radius: 40px; }

input[type="checkbox"] {
  margin-left: 0; }

input::placeholder {
  font-family: '20 Kopeek';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #868686; }

.stage-create {
  margin-bottom: 150px; }
  .stage-create h3 {
    margin-bottom: 87px;
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 100%;
    color: #181818; }
    @media screen and (max-width: 768px) {
      .stage-create h3 {
        margin-bottom: 40px; } }
  .stage-create img {
    margin-bottom: 26px; }
  .stage-create h4 {
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 110%;
    display: flex;
    align-items: flex-end;
    color: #181818; }
    @media screen and (max-width: 768px) {
      .stage-create h4 {
        margin-bottom: 18px; } }
    @media screen and (max-width: 575px) {
      .stage-create h4 {
        margin-bottom: 40px; } }
  .stage-create h5 {
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
    margin-bottom: 15px; }
    @media screen and (max-width: 768px) {
      .stage-create h5 {
        margin-bottom: 18px; } }
    @media screen and (max-width: 575px) {
      .stage-create h5 {
        margin-bottom: 20px; } }
  .stage-create p {
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #181818;
    margin-bottom: 60px; }
    @media screen and (max-width: 768px) {
      .stage-create p {
        margin-bottom: 50px; }
        .stage-create p:last-of-type {
          margin-bottom: 0; } }
    @media screen and (max-width: 575px) {
      .stage-create p {
        margin-bottom: 26px; }
        .stage-create p:last-of-type {
          margin-bottom: 65px; } }

/*# sourceMappingURL=styles_preproc.css.map */
