@font-face {
  font-family: '20 Kopeek';
  src: url('../fonts/20Kopeek.woff2') format('woff2'),
  url('../fonts/20Kopeek.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '20 Kopeek Book';
  src: url('../fonts/20Kopeek-Book.woff2') format('woff2'),
  url('../fonts/20Kopeek-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
$main-font:'20 Kopeek';
$font-book: '20 Kopeek Book';
$main-style: normal;
$white-color: #FFFFFF;
$main-color: #181818;

@mixin max-screen($res)
{
  @media screen and (max-width: $res)
  {
    @content;
  }
}

@mixin min-screen($res)
{
  @media screen and (min-width: $res)
  {
    @content;
  }
}
.image {
  height: 100vh;
  background-size: cover;
}

.image.item-1 {
  background-image: url("../images/image_1.jpg");
}

.image.item-2 {
  background-image: url("../images/image_2.jpg");
}

.image.item-3 {
  background-image: url("../images/image_3.jpg");
}

.image.item-4 {
  background-image: url("../images/image_4.jpg");
}

.image.item-5 {
  background-image: url("../images/image_2.jpg");
}

.image.item-6 {
  background-image: url("../images/image_3.jpg");
}
.owl-carousel {
  @include max-screen(992px) {
    display: none !important;
  }
}
header {
  z-index: 3;

  nav {
    p {
      font-family: '20 Kopeek', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 19px;
      color: #FFFFFF;
    }

    ul {
      li {
        a {
          font-family: '20 Kopeek';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: #FFFFFF !important;
        }

        &:first-of-type {
          border: 1px solid #FFFFFF;
          border-radius: 15px;
          margin-right: 13px;
          padding: 7px 27px 7px 33px;
        }

        &:nth-child(2) {
          border: 1px solid #FFFFFF;
          border-radius: 50%;
          margin-left: 12px;
          margin-right: 13px;
          padding: 12px 15px;
        }

        &:last-of-type {
          border: 1px solid #FFFFFF;
          border-radius: 50%;
          margin-left: 12px;
          padding: 12px;
        }
      }
    }
  }
}

.banner {
  @include max-screen(992px){
    background-image: url("../images/image_5.jpg");
    background-size: cover;
    height: 100vh;
    position: relative;
  }
  h1 {
    font-family: '20 Kopeek Book', sans-serif;
    font-size: 55px;
    line-height: 100%;
    color: #181818;
    margin-bottom: 30px;
    @include max-screen(992px){
      font-family: '20 Kopeek Book';
      font-size: 45px;
      line-height: 100%;
      color: #FFFFFF;
    }
    @include max-screen(768px){
      font-family: '20 Kopeek';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 110%;
      color: #FFFFFF;
    }
  }

  h3 {
    font-family: '20 Kopeek Book', sans-serif;
    font-size: 34px;
    line-height: 110%;
    color: #181818;
    margin-bottom: 65px;
    @include max-screen(992px){
      font-family: '20 Kopeek';
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 110%;
      color: #FFFFFF;
    }
    @include max-screen(768px){
      font-family: '20 Kopeek';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 110%;
      color: #FFFFFF;
      margin-bottom: 25px;
    }
  }

  a {
    font-family: '20 Kopeek', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
    background: #FFFFFF;
    border-radius: 40px;
    padding: 23px 47px;

    &:first-of-type {
      margin-right: 10px;
      @include max-screen(992px){
        display: block;
        width: 250px;
        margin-right: 0;
        margin-bottom: 42px!important;
      }
      @include max-screen(768px){
        display: inline-block;
        width: auto;
        margin-right: 17px;
        margin-bottom: 0!important;
      }
      @include max-screen(576px){
        margin-right: 0;
        margin-bottom: 20px!important;
      }
    }

    &:last-of-type {
      margin-left: 10px;
      @include max-screen(992px){
        display: block;
        width: 250px;
        margin-left: 0;
      }
      @include max-screen(768px){
        display: inline-block;
        width: auto;
        margin-left: 18px;
      }
      @include max-screen(576px){
        margin-left: 0;
      }
    }
  }
}

.description {
  position: absolute;
  height: 100vh;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  }




.firm-style{
  h3{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 110%;
    color: #181818;
    @include max-screen(992px){
      font-size: 34px;
    }
    @include max-screen(576px){
      font-size: 32px;
    }
  }

}
.list-number {
  margin-bottom: 120px;
  h2{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    color: #181818;
    margin-bottom: 40px;
  }
}

.firm-style {
  margin-bottom: 150px;
  @include max-screen(992px){
    margin-bottom: 0;
  }
}

.style {
  margin-top: 52px;
  p{
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
    @include max-screen(992px){
      font-size: 16px;
    }
    @include max-screen(576px){
      font-size: 15px;
    }
  }
}

.number {
  font-family: '20 Kopeek Book';
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 100%;
  color: #181818;
}

.text {
  font-family: '20 Kopeek';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
  margin-top: 29px;
}

.text1 {
  font-family: '20 Kopeek';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #181818;
}

.text2 {
  font-family: '20 Kopeek';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
  margin-top: 37px;
  margin-bottom: 20px;
  @include min-screen(992px){
    line-height: 120%;
  }
}

.text3 {
  font-family: '20 Kopeek';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
  margin-bottom: 20px;
  @include min-screen(992px){
    line-height: 120%;
  }
}

.text4 {
  background: #2B59C3;
  border-radius: 5px;
  font-family: '20 Kopeek';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: white;
  @include min-screen(992px){
    line-height: 120%;
  }
}

.style-price {
  margin-bottom: 133px;
  @include max-screen(575px){
    order: 2;
  }
}
.style-image{
  @include max-screen(575px){
    order: 1;
  }
}

.amperia {
  margin-bottom: 100px;
  @include max-screen(767px){
  display: flex;
  justify-content: space-between;
}
  img {
    margin-bottom: 45px;
  }
  h3 {
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    color: #181818;
    margin-bottom: 3px;
    @include max-screen(992px) {
      font-size: 45px;
    }
    @include max-screen(576px) {
      font-size: 35px;
    }
  }
  a {
    border: 1px solid #181818;
    border-radius: 40px;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
  }
}
.AQ {
  margin-bottom: 100px;
  @include max-screen(767px){
    display: flex;
    justify-content: space-between;
  }
  img {
    margin-bottom: 45px;
  }
  h3 {
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    color: #181818;
    margin-bottom: 3px;
    @include max-screen(992px){
      font-size: 45px;
    }
    @include max-screen(576px){
      font-size: 35px;
    }
  }
  a {
    border: 1px solid #181818;
    border-radius: 40px;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
  }
}
.brend {
  font-family: '20 Kopeek';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #181818;
  @include max-screen(992px){
    font-size: 16px;
  }
  @include max-screen(576px){
    font-size: 15px;
  }
}
.button{
  padding-left: 30px;
  padding-right: 30px;
  @include max-screen(768px){
    padding-right: 25px;
    padding-left: 25px;
  }
}
.vilata {
  margin-bottom: 100px;
  @include max-screen(767px){
    display: flex;
    justify-content: space-between;
  }
  img {
    margin-bottom: 45px;
  }
  h3 {
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    color: #181818;
    margin-bottom: 3px;
    @include max-screen(992px){
      font-size: 45px;
    }
    @include max-screen(576px){
      font-size: 35px;
    }
  }
  a {
    border: 1px solid #181818;
    border-radius: 40px;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
  }
}
.coral {
  margin-bottom: 100px;
  @include max-screen(767px){
    display: flex;
    justify-content: space-between;
  }
  img {
    margin-bottom: 45px;
  }
  h3 {
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    color: #181818;
    margin-bottom: 3px;
    @include max-screen(992px) {
      font-size: 45px;
    }
    @include max-screen(576px) {
      font-size: 35px;
    }
  }
  a {
    border: 1px solid #181818;
    border-radius: 40px;
    font-family: '20 Kopeek';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #181818;
    &:first-of-type{
      margin-bottom: 100px;
    }
  }
  p{
    margin-bottom: 53px;
  }
  }
.button1{
  background: #2B59C3;
  border-radius: 40px;
  padding: 23px 47px;
  font-family: '20 Kopeek Book';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 110%;
  color: #FFFFFF;
  margin-bottom: 100px;
  @include max-screen(768px){
    padding-right: 25px;
    padding-left: 25px;
  }
}
.gaide-line{
  h3{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 110%;
    color: #181818;
  }
  h4{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 110%;
    color: #FFFFFF;
    background: #2B59C3;
    border-radius: 5px;
  }
  p{
    &:first-of-type{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
      background: #2B59C3;
      border-radius: 5px;
      margin-top: 57px;
      margin-bottom: 30px;
    }
    &:last-of-type{
      font-family: '20 Kopeek';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #181818;}
  }
}
.gaide{
  font-family: '20 Kopeek Book';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 110%;
  color: #FFFFFF;
  margin-bottom: 30px;
  display: block;
}
.freelans{
  padding: 150px 0;
  .row {
    .col-lg-2 {
      background-color: #2B59C3;
    }

    .col-lg-3 {
      &:nth-child(2) {
        padding-left: 30px;
        position: relative;

        &:after {
          content: "";
          display: block;
          width: 30px;
          height: 5px;
          background-color: white;
          position: absolute;
          bottom: -2px;
          left: 0;
        }
      }
    }

    .col-lg-3 {
      &:nth-child(3) {
        border: 4px solid #2B59C3;
        border-top: none;
        border-bottom: 0.5px solid #868686;
      }
    }

    &:first-of-type {
      .col-lg-3, .col-lg-4 {
        border-bottom: none;
      }

      .col-lg-2 {
        border-radius: 10px 10px 0 0;
      }

      .col-lg-3 {
        &:nth-child(3) {
          border-radius: 10px 10px 0 0;
          border-top: 4px solid #2B59C3;
        }
      }
    }

    &:last-of-type {
      .col-lg-3, .col-lg-4 {
        border-bottom: none;
      }

      .col-lg-2 {
        border-radius: 0 0 10px 10px;
      }

      .col-lg-3 {
        &:nth-child(3) {
          border-radius: 0 0 10px 10px;
          border-bottom: 4px solid #2B59C3;
        }
      }
    }

    .col-lg-3, .col-lg-4 {
      border-bottom: 0.5px solid #868686;
    }
  }
  h4{
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 110%;
    color: #868686;
  }
  p{
    margin-bottom: 30px;
    padding-top: 26px;
  }
  h5{
    padding-top: 26px;
    font-family: '20 Kopeek Book';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 110%;
    color: #FFFFFF;
  }
  .free-color{
    color: #2B59C3;
  }
}




